{% extends "base.html" %}
{% block content %}
  <section class="card result">
    <h2>{{ titulo }}</h2>
    {% if mensagem %}
      <p>{{ mensagem }}</p>
    {% endif %}
    {% if download_token %}
      <div class="actions">
        <a class="btn primary" href="{{ url_for('baixar_arquivo', token=download_token) }}" download>{{ download_rotulo }}</a>
      </div>
    {% endif %}
    {% if log_text %}
      <h3>Log</h3>
      <pre class="log-output">{{ log_text }}</pre>
    {% endif %}
    <p><a href="{{ url_for('index') }}">&#8592; Voltar para o formulário</a></p>
  </section>
{% endblock %}
